<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/parque5.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 class="font-weight-bold">El parque</h1>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center pt-3 pb-0">
        <div class="container">
            <div class="row">
                <div class="section" id="carousel">
                    <div class="container">
                        <div class="tim-title mb-5">
                            <h3>DISFRUTA EN MÁS DE 30 ATRACCIONES PARA TODOS LOS PÚBLICOS</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mr-auto ml-auto">
                                <div class="card page-carousel">
                                    <ngb-carousel>
                                        <ng-template *ngFor="let i of [1,2,3,4,5,6,7,8,9]" ngbSlide>
                                            <img src="./assets/img/parque/atracciones/atraccion{{i}}.JPG" alt="Random first slide">
                                        </ng-template>
                                    </ngb-carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section section-dark-blue">
            <div class="container">
                    <h5>100% Diversión Garantizada</h5>

                    <div class="row justify-content-around">
                        <div class="col-md-6 col-12">
                            <h6>
                                Atracciones para todos los gustos que te harán disfrutar como el niño que eres
                            </h6>

                            <p>La Cala World, es posiblemente el parque de atracciones con mayor variedad para sus 
                                clientes, ya que pone a su disposición más de 40 atracciones para todas las edades, 
                                especialmente los más pequeños de la casa.</p>

                                    <ul class="mt-4">
                                        <li>Caída libre de 60 metros</li>
                                        <li>Caída infantil de 9 metros</li>
                                        <li>Noria Gigante</li>
                                        <li>Montaña Rusa</li>
                                        <li>Barco misterioso</li>
                                        <li>Trenecito turístico</li>
                                    </ul>
                                    <ul>
                                        <li>Mansión del Terror</li>
                                        <li>Circuito "Go-Karts"</li>
                                        <li>Techno Jump</li>
                                        <li>Twistter</li>
                                        <li>Coches de choque</li>
                                        <li>Y muchos más!!</li>
                                    </ul>
                        </div>
                        <div class="col-md-4 col-12">
                                <img class="img-rounded img-responsive mb-4" src="./assets/img/parque/atracciones/atraccionlive.jpg" alt="Rounded Image">

                        </div>
                    </div>
                </div>
    </div>
</div>