<div class="page-header" data-parallax="true" style="background-image: url('././assets/img/parque4.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <h1>Multimedia</h1>
          <h3>Accede a nuestro canal de YouTube para ver videos del parque o echa un vistado a las fotos que han compartido nuestros aventureros</h3>
          <br />
          <a href="https://www.youtube.com/user/LaCalaWorld" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Ver videos</a>
      </div>
  </div>
</div>
<div class="main">

  <div class="section text-center pt-4">
      <div class="container">
          <div class="tim-title mb-5">
              <h3>Galeria de La Cala World</h3>
          </div>
          
              <app-galeria></app-galeria>

      </div>
  </div>
</div>