<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/parque1.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 class="font-weight-bold">Información</h1>
        </div>
    </div>  
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Contacta con nosotros</h2>
                <h5 class="description">
                    Somos un grupo de tres estudiantes del segundo año del ciclo de grado superior 
                    Guia Información y Asistencia turistica. La Cala World es el destino perfecto para pasar unas 
                    fantásticas vacaciones en familia, con tu pareja o tus amigos, mientras gozas 
                    de la mejor oferta de ocio del sur de España; y todo en un entorno con un clima 
                    perfecto donde te lo pasarás en grande. ¿Tienes alguna sugerencia, duda, o aportación?
                    No dudes en contactar:
                </h5>
                <br>
                <button type="button" class="btn btn-outline-danger mb-3 btn-lg">+34635102425</button>
                <button type="button" class="btn btn-outline-danger mb-3 btn-lg ml-sm-5">+34622618115</button>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Fotos</h4>
                        <p class="description">¿Quieres compartir alguna instantánea del parque con nosotros?</p>
                        <a href="#" class="btn btn-link btn-danger">Más info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Alguna idea</h4>
                        <p>Las sugerencias de nuestros clientes sobre el parque siempre son bienvenidas.</p>
                        <a href="#" class="btn btn-link btn-danger">Más info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-satisfied"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Valoraciones</h4>
                        <p>Nos gusta tener una valoración positiva de nuestros clientes sobre el parque. 
                            ¿Has sufrido algún contratiempo en la estancia?
                        </p>
                        <a href="#" class="btn btn-link btn-danger">Más info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Diseño de la web</h4>
                        <p>¿Crees que falta algo en la web? ¿Hay algo que piensas que estaría mejor de otra forma?</p>
                        <a href="#" class="btn btn-link btn-danger">Más info</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">¿Quiénes somos?</h2>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#"><img src="./assets/img/faces/juanantonio.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#">
                            <div class="author">
                                <h4 class="card-title">Juan Antonio Márquez Rueda</h4>
                                <h6 class="card-category">Creador</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                                El trabajo en equipo es tan importante 
                                que es prácticamente imposible 
                                alcanzar el nivel más alto de tus capacidades 
                                o ganar el dinero que deseas sin ser bueno en eso.                        
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#"><img src="./assets/img/faces/amirberkoun.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#">
                            <div class="author">
                                <h4 class="card-title">Amir Berkoun Rosado</h4>
                                <h6 class="card-category">Creador</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Un grupo se convierte en equipo cuando cada miembro
                            está seguro de sí mismo y de su aportación para
                            apoyar el talento del resto. "No one can whistle a symphony. 
                            It takes an orchestra to play it."
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#"><img src="./assets/img/faces/anassaksak.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#">
                            <div class="author">
                                <h4 class="card-title">Anas Saksak El Bouzidi</h4>
                                <h6 class="card-category">Creador</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            La fuerza del equipo consiste en cada miembro.
                            La fuerza de cada miembro consiste en el equipo.
                            Si podéis reíros juntos, podéis trabajar juntos.
                            El silencio no es de oro, es fatídico.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#"><img src="./assets/img/faces/adriansoltero.jpg" alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a href="#">
                                <div class="author">
                                    <h4 class="card-title">Adrián Soltero Rubio</h4>
                                    <h6 class="card-category">Desarrollador de la web</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                    El espiritu de equipo es el que da a muchas empresas
                                    una ventaja sobre sus competidores. Las buenas cosas
                                    pasan a quienes las esperan, las mejores cosas a 
                                    quienes van a por ellas.                        
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">¿Prefieres por correo electrónico?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nombre</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nombre" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Mensaje</label>
                        <textarea class="form-control" rows="4" placeholder="Cuéntanos tu aportación..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Enviar mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
